* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

a {
    text-decoration: none;
}

nav {
    /* position: fixed; */
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 15px  70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: relative;
    width: 100%;
    height: 87px;
    background: rgba(0,0,0, .6);
    mix-blend-mode: normal;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0,5;
}

.subheader .subheader_call {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 20px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    position: absolute;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 46px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 185px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin-top: 22px;
    text-align: center;
}

.promo .promo_descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 119px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    line-height: 63px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 30px;
    width: 112px;
    padding: 6px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}


.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}